body{
  margin:0;
  background-color:#f4edea;
  color:#12263a;
  padding:20px;
  display:flex;
  flex-flow:column;
  justify-content:center;
  align-items:center;
  text-align:justify;
}
html{
  font-family: 'Gudea', sans-serif;
}

.main{
  max-width:500px;
}

.hero{
  text-align:center;
  background-color:#06bcc1;
  color:#12263a;
  display:flex;
  flex-flow:column;
  padding:10px;
  border-radius:3px;
  box-shadow: 0px 1px 9px 1px #06bcc142;

}

.title{
  border-bottom: solid 2px #f4d1ae;
  width:max-content;
}

.button{
  background-color:#f4d1ae;
  color:#12263a;
  box-shadow: 0px 1px 9px 1px #f4d1ae66;
  border-radius:20px; 
  padding:9px 19px;
  margin: 10px 10px;
}

.links{
  display:flex;
  flex-flow:row;
  flex-wrap:wrap;
  margin:20px 0px;
}

.card{
  background-color:#f9f5f3;
  box-shadow: 0px 1px 9px 1px #e5c6b95c;
  padding:20px;
  margin: 20px 0px;
  border-radius:3px;
}

