*{
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}

.eased{
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}

html{
  font-family: 'Gudea', sans-serif;
}

body{
  margin:0;
  font-family: 'Gudea', sans-serif;
  background-color:#222;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}


.main{
  display:flex;
  flex-flow:column;
  color:#2f2f2f;
  align-items:center;
  justify-content:center;
  min-height:100vh;
}

.header{
  width: 100vw;
  text-align: center;
}

.white-card{
  box-shadow: 0px .5px 15px 0.5px #3f4b58de;
  color:#2f2f2f;
  padding:30px;
  border-radius:5px;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  overflow:auto;
  text-align:justify;
  margin:30px;
}

.card{
  box-shadow: 0px .5px 15px 0.5px #fb6cd766;
  background-color:#ccc;
  color:snow;
  padding:60px;
  border-radius:5px;
  max-width:70vw;
  max-height:70vh;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  overflow:auto;
  text-align:justify;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #197eea70 #333cbf91
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #333cbf91;
}

*::-webkit-scrollbar-thumb {
    background-color: #197eea70;
    border-radius: 20px;
    border: 3px solid #333cbf91;
}

.summary{

}
.skills{

}
.experience{

}



